@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  color: rgb(55, 68, 112);
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}

.parallax{
  background-image: url(../media/transport.png);
  background-position-x: center, center;
  background-position-y: center, center;
  background-size: cover;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
.parallax-inner{
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.container{
  width: 100%;
  min-height: 75vh;
}

.logo{
  /* border: 1px solid black; */
  display: inline-block;
  margin-left: 20px;
  transform: translateY(-7vh);
}

.form-box{
  width: 600px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* border: 1px solid black; */
}

td{
  border: 2px solid black;
  width: 60px;
  text-align: center;
}
